* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

/* Header and Navbar CSS is Here */

.header {
    background-color: #ffffff;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
    padding: 25px 0;
}

.nav-items {
    display: flex;
    gap: 1.2rem;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: #575757;
}

.nav-items a:hover {
    color: #1d4ed8;
    border-bottom: #1d4ed8 solid 3px;
    padding-bottom: 6px;
    transition: 0.3s;
}

.nav-btn {
    background-color: #1d4ed8;
    padding: 15px 43px;
    font-weight: 600;
    border: #1d4ed8 solid 1px;
    border-radius: 10px;
    color: white;
}

.nav-btn:hover {
    background-color: #ffffff;
    border: #1d4ed8 solid 1px;
    color: #1d4ed8;
}

.nav-cta a {
    text-decoration: none;
}

/* Hero sections CSS starts from here */

.hero-section {
    background: linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)), url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: #ffffff;
    text-align: center;
}

.hero-content h1 {
    font-size: 80px;
    font-weight: 700;
}

.hero-content p {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.9rem;
    margin-top: 20px;
}

.hero-btn {
    text-decoration: none;
    background-color: #1d4ed8;
    color: #ffffff;
    display: inline-block;
    margin-top: 250px;
    padding: 27px 70px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
}

.hero-btn:hover {
    background-color: #ffffff;
    color: #1d4ed8;
}

/* Speakers sections CSS start from here */

.speakers-section {
    padding: 100px 0;
}

.speakers-container {
    max-width: 1350px;
    margin: 0 auto;
    padding-inline: 20px;
}

.speakers-heading {
    text-align: center;
    margin-bottom: 60px;
}

.speakers-heading h2 {
    font-size: 55px;
}

.speakers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.speakers-card {
    border: #E5E7EB 1px solid;
    border-radius: 10px;
    background: white;
    overflow: hidden;
}

.speakers-card img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.speakers-content {
    padding: 20px;
}

.speakers-tags {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1d4ed8;
    margin-bottom: 10px;
}

.speakers-content h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
}

.speakers-content p {
    font-size: 14px;
    font-weight: 400;
    color: #575757;
}

/* Pricing CSS start from here */

.pricing-section {
    padding: 100px 0;
}

.pricing-container {
    max-width: 1180px;
    margin: 0 auto;
    padding-inline: 20px;
}

.pricing-heading {
    text-align: center;
    margin-bottom: 60px;
}

.pricing-heading h2 {
    font-size: 55px;
    margin-bottom: 12px;
}

.pricing-heading p {
    font-size: 16px;
    color: #575757;
}

.pricing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Standard plan */

.pricing-cards-standard {
    border: #E5E7EB 1px solid;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px 30px;
}

.pricing-plan-standard {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #888888;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.plan-price-standard {
    display: block;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 9px;
    color: #0D1B2A;
}

.plan-users-standard {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #888888;
    margin-bottom: 9px;
}

hr {
    margin: 20px auto;
    border: none;
    border-top: 1px solid #ddd;
}

.plan-items-standard {
    margin-left: 17px;
}

.pricing-cards-standard ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.plan-items-standard li{
    font-size: 15px;
    color: #575757;
}

.plan-items-standard li::marker {
    color: #1d4ed8;
}

.plan-btn-standard {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 15px;
    border: #1d4ed8 1px solid;
    border-radius: 6px;
    text-align: center;
    color: #1d4ed8;
    font-size: 15px;
    font-weight: 600;
}

.pricing-cards-standard a {
    text-decoration: none;
}

/* Pro plan */

.pricing-cards-pro {
    border: #E5E7EB 1px solid;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px 30px;
    background-color: #0D1B2A;
}

.pricing-plan-pro {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #93C5FD;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.plan-price-pro {
    display: block;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 9px;
    color: #ffffff;
}

.plan-users-pro {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #E5E7EB;
    margin-bottom: 9px;
}

hr {
    margin: 20px auto;
    border: none;
    border-top: 1px solid #ddd;
}

.plan-items-pro {
    margin-left: 17px;
}

.pricing-cards-pro ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.plan-items-pro li{
    font-size: 15px;
    color: #E5E7EB;
    font-weight: 300;
}

.plan-items-pro li::marker {
    color: #1d4ed8;
}

.plan-btn-pro {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: #1d4ed8;
    padding: 15px;
    border: #1d4ed8 1px solid;
    border-radius: 6px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}

.pricing-cards-pro a {
    text-decoration: none;
}

/* Team plan  */

.pricing-cards-team {
    border: #E5E7EB 1px solid;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px 30px;
}

.pricing-plan-team {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #888888;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.plan-price-team {
    display: block;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 9px;
    color: #0D1B2A;
}

.plan-users-team {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #888888;
    margin-bottom: 9px;
}

hr {
    margin: 20px auto;
    border: none;
    border-top: 1px solid #ddd;
}

.plan-items-team {
    margin-left: 17px;
}

.pricing-cards-team ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.plan-items-team li{
    font-size: 15px;
    color: #575757;
}

.plan-items-team li::marker {
    color: #1d4ed8;
}

.plan-btn-team {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 15px;
    border: #1d4ed8 1px solid;
    border-radius: 6px;
    text-align: center;
    color: #1d4ed8;
    font-size: 15px;
    font-weight: 600;
}

.pricing-cards-team a {
    text-decoration: none;
}


/* Footer CSS start from here  */

.footer-area {
    background-color: #0D1B2A;
    padding: 30px 0;
}

.footer-container {
    max-width: 1350px;
    margin: 0 auto;
    padding-inline: 20px;
}

.before-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons a {
    gap: 20px;
}

.social-icons a {
    color: #ffffff;
    font-size: 30px;
}

.footer-line {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.12);
}

.after-line p {
    text-align: center;
    color: #ddd;
    font-size: 14px;
    font-weight: 300;
}

/* Why Join CSS start here */

