* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.header {
    background-color: #ffffff;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
    padding: 25px 0;
}

.nav-items {
    display: flex;
    gap: 1.2rem;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: #575757;
}

.nav-btn {
    background-color: #1d4ed8;
    padding: 15px 43px;
    font-weight: 600;
    border: #1d4ed8 solid 1px;
    border-radius: 10px;
    color: white;
}

.nav-btn:hover {
    background-color: #ffffff;
    border: #1d4ed8 solid 1px;
    color: #1d4ed8;
}

.nav-cta a {
    text-decoration: none;
}

.hero-section {
    background: linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)), url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: #ffffff;
    text-align: center;
}

.hero-content h1 {
    font-size: 80px;
    font-weight: 700;
}

.hero-content p {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.9rem;
    margin-top: 20px;
}

.hero-btn {
    text-decoration: none;
    background-color: #1d4ed8;
    color: #ffffff;
    display: inline-block;
    margin-top: 250px;
    padding: 27px 70px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
}

.hero-btn:hover {
    background-color: #ffffff;
    color: #1d4ed8;
}